# Mustafa Habibi

## Exercise 1
Download the data set Airlines Delay: Airline on-time statistics and delay causes and load it into a Pandas Dataframe. Explore the data it contains, briefly explain which variables are there, and stick only to the columns you consider relevant. Justify your choice.

In [1]:
import pandas as pd
import numpy as np
df= pd.read_csv('DelayedFlights.csv') # original data frame
pd.set_option('display.max_columns', None) # show all columns in onc cell.
pd.set_option('display.expand_frame_repr', False)
df

         Unnamed: 0  Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  ArrTime  CRSArrTime UniqueCarrier  FlightNum TailNum  ActualElapsedTime  CRSElapsedTime  AirTime  ArrDelay  DepDelay Origin Dest  Distance  TaxiIn  TaxiOut  Cancelled CancellationCode  Diverted  CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
0                 0  2008      1           3          4   2003.0        1955   2211.0        2225            WN        335  N712SW              128.0           150.0    116.0     -14.0       8.0    IAD  TPA       810     4.0      8.0          0                N         0           NaN           NaN       NaN            NaN                NaN
1                 1  2008      1           3          4    754.0         735   1002.0        1000            WN       3231  N772SW              128.0           145.0    113.0       2.0      19.0    IAD  TPA       810     5.0     10.0          0                N         0           NaN           NaN       NaN            NaN                NaN
2                 2  2008      1           3          4    628.0         620    804.0         750            WN        448  N428WN               96.0            90.0     76.0      14.0       8.0    IND  BWI       515     3.0     17.0          0                N         0           NaN           NaN       NaN            NaN                NaN
3                 4  2008      1           3          4   1829.0        1755   1959.0        1925            WN       3920  N464WN               90.0            90.0     77.0      34.0      34.0    IND  BWI       515     3.0     10.0          0                N         0           2.0           0.0       0.0            0.0               32.0
4                 5  2008      1           3          4   1940.0        1915   2121.0        2110            WN        378  N726SW              101.0           115.0     87.0      11.0      25.0    IND  JAX       688     4.0     10.0          0                N         0           NaN           NaN       NaN            NaN                NaN
...             ...   ...    ...         ...        ...      ...         ...      ...         ...           ...        ...     ...                ...             ...      ...       ...       ...    ...  ...       ...     ...      ...        ...              ...       ...           ...           ...       ...            ...                ...
1936753     7009710  2008     12          13          6   1250.0        1220   1617.0        1552            DL       1621  N938DL              147.0           152.0    120.0      25.0      30.0    MSP  ATL       906     9.0     18.0          0                N         0           3.0           0.0       0.0            0.0               22.0
1936754     7009717  2008     12          13          6    657.0         600    904.0         749            DL       1631  N3743H              127.0           109.0     78.0      75.0      57.0    RIC  ATL       481    15.0     34.0          0                N         0           0.0          57.0      18.0            0.0                0.0
1936755     7009718  2008     12          13          6   1007.0         847   1149.0        1010            DL       1631  N909DA              162.0           143.0    122.0      99.0      80.0    ATL  IAH       689     8.0     32.0          0                N         0           1.0           0.0      19.0            0.0               79.0
1936756     7009726  2008     12          13          6   1251.0        1240   1446.0        1437            DL       1639  N646DL              115.0           117.0     89.0       9.0      11.0    IAD  ATL       533    13.0     13.0          0                N         0           NaN           NaN       NaN            NaN                NaN
1936757     7009727  2008     12          13          6   1110.0        1103   1413.0        1418            DL       1641  N908DL              123.0           135.0    104.0      -5.0       7.0    SAT  ATL       874     8.0     11.0          0                N         0           NaN           NaN       NaN            NaN                NaN

[1936758 rows x 30 columns]

### Description of all columns are as follows:
- Year 2008
- Month 1-12
- DayofMonth 1-31
- DayOfWeek 1 (Monday) - 7 (Sunday)
- DepTime actual departure time (local, hhmm)
- CRSDepTime scheduled departure time (local, hhmm)
- ArrTime actual arrival time (local, hhmm)
- CRSArrTime scheduled arrival time (local, hhmm)
- UniqueCarrier unique carrier code
- FlightNum flight number
- TailNum plane tail number: aircraft registration, unique aircraft identifier
- ActualElapsedTime in minutes
- CRSElapsedTime in minutes
- AirTime in minutes
- ArrDelay arrival delay, in minutes: A flight is counted as "on time" if it operated less than 15 minutes later the scheduled time shown in the carriers' Computerized Reservations Systems (CRS).
- DepDelay departure delay, in minutes
- Origin origin IATA airport code
- Dest destination IATA airport code
- Distance in miles
- TaxiIn taxi in time, in minutes
- TaxiOut taxi out time in minutes
- Cancelled *was the flight cancelled
- CancellationCode reason for cancellation (A = carrier, B = weather, C = NAS, D = security)
- Diverted 1 = yes, 0 = no
- CarrierDelay in minutes: Carrier delay is within the control of the air carrier. Examples of occurrences that may determine carrier delay are: aircraft cleaning, aircraft damage, awaiting the arrival of connecting passengers or crew, baggage, bird strike, cargo loading, catering, computer, outage-carrier equipment, crew legality (pilot or attendant rest), damage by hazardous goods, engineering inspection, fueling, handling disabled passengers, late crew, lavatory servicing, maintenance, oversales, potable water servicing, removal of unruly passenger, slow boarding or seating, stowing carry-on baggage, weight and balance delays.
- WeatherDelay in minutes: Weather delay is caused by extreme or hazardous weather conditions that are forecasted or manifest themselves on point of departure, enroute, or on point of arrival.
- NASDelay in minutes: Delay that is within the control of the National Airspace System (NAS) may include: non-extreme weather conditions, airport operations, heavy traffic volume, air traffic control, etc.
- SecurityDelay in minutes: Security delay is caused by evacuation of a terminal or concourse, re-boarding of aircraft because of security breach, inoperative screening equipment and/or long lines in excess of 29 minutes at screening areas.
- LateAircraftDelay in minutes: Arrival delay at an airport due to the late arrival of the same aircraft at a previous airport. The ripple effect of an earlier delay at downstream airports is referred to as delay propagation.

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

In [3]:
df.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

### It randomly reduces the dimension of the dataset in order to obtain a dataset of only 200,000 records. All exercises should be done on this reduced dataset.

In [4]:
# Deteled all Cancelled flights.

deleted_canceled_flights= df.drop(df[df.Cancelled == 1].index)
deleted_canceled_flights
dcf= deleted_canceled_flights
dcf

         Unnamed: 0  Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  ArrTime  CRSArrTime UniqueCarrier  FlightNum TailNum  ActualElapsedTime  CRSElapsedTime  AirTime  ArrDelay  DepDelay Origin Dest  Distance  TaxiIn  TaxiOut  Cancelled CancellationCode  Diverted  CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
0                 0  2008      1           3          4   2003.0        1955   2211.0        2225            WN        335  N712SW              128.0           150.0    116.0     -14.0       8.0    IAD  TPA       810     4.0      8.0          0                N         0           NaN           NaN       NaN            NaN                NaN
1                 1  2008      1           3          4    754.0         735   1002.0        1000            WN       3231  N772SW              128.0           145.0    113.0       2.0      19.0    IAD  TPA       810     5.0     10.0          0                N         0           NaN           NaN       NaN            NaN                NaN
2                 2  2008      1           3          4    628.0         620    804.0         750            WN        448  N428WN               96.0            90.0     76.0      14.0       8.0    IND  BWI       515     3.0     17.0          0                N         0           NaN           NaN       NaN            NaN                NaN
3                 4  2008      1           3          4   1829.0        1755   1959.0        1925            WN       3920  N464WN               90.0            90.0     77.0      34.0      34.0    IND  BWI       515     3.0     10.0          0                N         0           2.0           0.0       0.0            0.0               32.0
4                 5  2008      1           3          4   1940.0        1915   2121.0        2110            WN        378  N726SW              101.0           115.0     87.0      11.0      25.0    IND  JAX       688     4.0     10.0          0                N         0           NaN           NaN       NaN            NaN                NaN
...             ...   ...    ...         ...        ...      ...         ...      ...         ...           ...        ...     ...                ...             ...      ...       ...       ...    ...  ...       ...     ...      ...        ...              ...       ...           ...           ...       ...            ...                ...
1936753     7009710  2008     12          13          6   1250.0        1220   1617.0        1552            DL       1621  N938DL              147.0           152.0    120.0      25.0      30.0    MSP  ATL       906     9.0     18.0          0                N         0           3.0           0.0       0.0            0.0               22.0
1936754     7009717  2008     12          13          6    657.0         600    904.0         749            DL       1631  N3743H              127.0           109.0     78.0      75.0      57.0    RIC  ATL       481    15.0     34.0          0                N         0           0.0          57.0      18.0            0.0                0.0
1936755     7009718  2008     12          13          6   1007.0         847   1149.0        1010            DL       1631  N909DA              162.0           143.0    122.0      99.0      80.0    ATL  IAH       689     8.0     32.0          0                N         0           1.0           0.0      19.0            0.0               79.0
1936756     7009726  2008     12          13          6   1251.0        1240   1446.0        1437            DL       1639  N646DL              115.0           117.0     89.0       9.0      11.0    IAD  ATL       533    13.0     13.0          0                N         0           NaN           NaN       NaN            NaN                NaN
1936757     7009727  2008     12          13          6   1110.0        1103   1413.0        1418            DL       1641  N908DL              123.0           135.0    104.0      -5.0       7.0    SAT  ATL       874     8.0     11.0          0                N         0           NaN           NaN       NaN            NaN                NaN

[1936125 rows x 30 columns]

In [6]:
# I want to Detele all diverted flights because there is no data related to delay causes.

deleted_diverted_flights= dcf.drop(dcf[dcf.Diverted == 1].index)
deleted_diverted_flights
ddf= deleted_diverted_flights
ddf

         Unnamed: 0  Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  ArrTime  CRSArrTime UniqueCarrier  FlightNum TailNum  ActualElapsedTime  CRSElapsedTime  AirTime  ArrDelay  DepDelay Origin Dest  Distance  TaxiIn  TaxiOut  Cancelled CancellationCode  Diverted  CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
0                 0  2008      1           3          4   2003.0        1955   2211.0        2225            WN        335  N712SW              128.0           150.0    116.0     -14.0       8.0    IAD  TPA       810     4.0      8.0          0                N         0           NaN           NaN       NaN            NaN                NaN
1                 1  2008      1           3          4    754.0         735   1002.0        1000            WN       3231  N772SW              128.0           145.0    113.0       2.0      19.0    IAD  TPA       810     5.0     10.0          0                N         0           NaN           NaN       NaN            NaN                NaN
2                 2  2008      1           3          4    628.0         620    804.0         750            WN        448  N428WN               96.0            90.0     76.0      14.0       8.0    IND  BWI       515     3.0     17.0          0                N         0           NaN           NaN       NaN            NaN                NaN
3                 4  2008      1           3          4   1829.0        1755   1959.0        1925            WN       3920  N464WN               90.0            90.0     77.0      34.0      34.0    IND  BWI       515     3.0     10.0          0                N         0           2.0           0.0       0.0            0.0               32.0
4                 5  2008      1           3          4   1940.0        1915   2121.0        2110            WN        378  N726SW              101.0           115.0     87.0      11.0      25.0    IND  JAX       688     4.0     10.0          0                N         0           NaN           NaN       NaN            NaN                NaN
...             ...   ...    ...         ...        ...      ...         ...      ...         ...           ...        ...     ...                ...             ...      ...       ...       ...    ...  ...       ...     ...      ...        ...              ...       ...           ...           ...       ...            ...                ...
1936753     7009710  2008     12          13          6   1250.0        1220   1617.0        1552            DL       1621  N938DL              147.0           152.0    120.0      25.0      30.0    MSP  ATL       906     9.0     18.0          0                N         0           3.0           0.0       0.0            0.0               22.0
1936754     7009717  2008     12          13          6    657.0         600    904.0         749            DL       1631  N3743H              127.0           109.0     78.0      75.0      57.0    RIC  ATL       481    15.0     34.0          0                N         0           0.0          57.0      18.0            0.0                0.0
1936755     7009718  2008     12          13          6   1007.0         847   1149.0        1010            DL       1631  N909DA              162.0           143.0    122.0      99.0      80.0    ATL  IAH       689     8.0     32.0          0                N         0           1.0           0.0      19.0            0.0               79.0
1936756     7009726  2008     12          13          6   1251.0        1240   1446.0        1437            DL       1639  N646DL              115.0           117.0     89.0       9.0      11.0    IAD  ATL       533    13.0     13.0          0                N         0           NaN           NaN       NaN            NaN                NaN
1936757     7009727  2008     12          13          6   1110.0        1103   1413.0        1418            DL       1641  N908DL              123.0           135.0    104.0      -5.0       7.0    SAT  ATL       874     8.0     11.0          0                N         0           NaN           NaN       NaN            NaN                NaN

[1928371 rows x 30 columns]

In [7]:
# I want to delete the following columns that I think those are not nessesary for the next analyses and exercises.

ddf_flights = ddf[[#'Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', CancellationCode'.
    'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled',
    'CarrierDelay','Diverted', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']]
ddff=ddf_flights
ddff
# All null values of ArrTime has deleted while I had deleted 'Diverted' and 'Canceled' flights.
# So there is no null values in ArrTime now.

         DepTime  CRSDepTime  ArrTime  CRSArrTime UniqueCarrier  FlightNum TailNum  ActualElapsedTime  CRSElapsedTime  AirTime  ArrDelay  DepDelay Origin Dest  Distance  TaxiIn  TaxiOut  Cancelled  CarrierDelay  Diverted  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
0         2003.0        1955   2211.0        2225            WN        335  N712SW              128.0           150.0    116.0     -14.0       8.0    IAD  TPA       810     4.0      8.0          0           NaN         0           NaN       NaN            NaN                NaN
1          754.0         735   1002.0        1000            WN       3231  N772SW              128.0           145.0    113.0       2.0      19.0    IAD  TPA       810     5.0     10.0          0           NaN         0           NaN       NaN            NaN                NaN
2          628.0         620    804.0         750            WN        448  N428WN               96.0            90.0     76.0      14.0       8.0    IND  BWI       515     3.0     17.0          0           NaN         0           NaN       NaN            NaN                NaN
3         1829.0        1755   1959.0        1925            WN       3920  N464WN               90.0            90.0     77.0      34.0      34.0    IND  BWI       515     3.0     10.0          0           2.0         0           0.0       0.0            0.0               32.0
4         1940.0        1915   2121.0        2110            WN        378  N726SW              101.0           115.0     87.0      11.0      25.0    IND  JAX       688     4.0     10.0          0           NaN         0           NaN       NaN            NaN                NaN
...          ...         ...      ...         ...           ...        ...     ...                ...             ...      ...       ...       ...    ...  ...       ...     ...      ...        ...           ...       ...           ...       ...            ...                ...
1936753   1250.0        1220   1617.0        1552            DL       1621  N938DL              147.0           152.0    120.0      25.0      30.0    MSP  ATL       906     9.0     18.0          0           3.0         0           0.0       0.0            0.0               22.0
1936754    657.0         600    904.0         749            DL       1631  N3743H              127.0           109.0     78.0      75.0      57.0    RIC  ATL       481    15.0     34.0          0           0.0         0          57.0      18.0            0.0                0.0
1936755   1007.0         847   1149.0        1010            DL       1631  N909DA              162.0           143.0    122.0      99.0      80.0    ATL  IAH       689     8.0     32.0          0           1.0         0           0.0      19.0            0.0               79.0
1936756   1251.0        1240   1446.0        1437            DL       1639  N646DL              115.0           117.0     89.0       9.0      11.0    IAD  ATL       533    13.0     13.0          0           NaN         0           NaN       NaN            NaN                NaN
1936757   1110.0        1103   1413.0        1418            DL       1641  N908DL              123.0           135.0    104.0      -5.0       7.0    SAT  ATL       874     8.0     11.0          0           NaN         0           NaN       NaN            NaN                NaN

[1928371 rows x 24 columns]

In [8]:
# I want to remove 3 null values of 'TailNum' 
new_df = ddff.dropna(subset=['TailNum'])
new_df

         DepTime  CRSDepTime  ArrTime  CRSArrTime UniqueCarrier  FlightNum TailNum  ActualElapsedTime  CRSElapsedTime  AirTime  ArrDelay  DepDelay Origin Dest  Distance  TaxiIn  TaxiOut  Cancelled  CarrierDelay  Diverted  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
0         2003.0        1955   2211.0        2225            WN        335  N712SW              128.0           150.0    116.0     -14.0       8.0    IAD  TPA       810     4.0      8.0          0           NaN         0           NaN       NaN            NaN                NaN
1          754.0         735   1002.0        1000            WN       3231  N772SW              128.0           145.0    113.0       2.0      19.0    IAD  TPA       810     5.0     10.0          0           NaN         0           NaN       NaN            NaN                NaN
2          628.0         620    804.0         750            WN        448  N428WN               96.0            90.0     76.0      14.0       8.0    IND  BWI       515     3.0     17.0          0           NaN         0           NaN       NaN            NaN                NaN
3         1829.0        1755   1959.0        1925            WN       3920  N464WN               90.0            90.0     77.0      34.0      34.0    IND  BWI       515     3.0     10.0          0           2.0         0           0.0       0.0            0.0               32.0
4         1940.0        1915   2121.0        2110            WN        378  N726SW              101.0           115.0     87.0      11.0      25.0    IND  JAX       688     4.0     10.0          0           NaN         0           NaN       NaN            NaN                NaN
...          ...         ...      ...         ...           ...        ...     ...                ...             ...      ...       ...       ...    ...  ...       ...     ...      ...        ...           ...       ...           ...       ...            ...                ...
1936753   1250.0        1220   1617.0        1552            DL       1621  N938DL              147.0           152.0    120.0      25.0      30.0    MSP  ATL       906     9.0     18.0          0           3.0         0           0.0       0.0            0.0               22.0
1936754    657.0         600    904.0         749            DL       1631  N3743H              127.0           109.0     78.0      75.0      57.0    RIC  ATL       481    15.0     34.0          0           0.0         0          57.0      18.0            0.0                0.0
1936755   1007.0         847   1149.0        1010            DL       1631  N909DA              162.0           143.0    122.0      99.0      80.0    ATL  IAH       689     8.0     32.0          0           1.0         0           0.0      19.0            0.0               79.0
1936756   1251.0        1240   1446.0        1437            DL       1639  N646DL              115.0           117.0     89.0       9.0      11.0    IAD  ATL       533    13.0     13.0          0           NaN         0           NaN       NaN            NaN                NaN
1936757   1110.0        1103   1413.0        1418            DL       1641  N908DL              123.0           135.0    104.0      -5.0       7.0    SAT  ATL       874     8.0     11.0          0           NaN         0           NaN       NaN            NaN                NaN

[1928368 rows x 24 columns]

### Firstly, I decided to fill the null values with median or mean, when when I thought deeply, I discovered that with mean and median, the result would change also.  Finally,  I decided for remove null values.

In [10]:
new_dff = new_df.dropna(subset=['CarrierDelay']).copy()
new_dff

         DepTime  CRSDepTime  ArrTime  CRSArrTime UniqueCarrier  FlightNum TailNum  ActualElapsedTime  CRSElapsedTime  AirTime  ArrDelay  DepDelay Origin Dest  Distance  TaxiIn  TaxiOut  Cancelled  CarrierDelay  Diverted  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
3         1829.0        1755   1959.0        1925            WN       3920  N464WN               90.0            90.0     77.0      34.0      34.0    IND  BWI       515     3.0     10.0          0           2.0         0           0.0       0.0            0.0               32.0
5         1937.0        1830   2037.0        1940            WN        509  N763SW              240.0           250.0    230.0      57.0      67.0    IND  LAS      1591     3.0      7.0          0          10.0         0           0.0       0.0            0.0               47.0
7         1644.0        1510   1845.0        1725            WN       1333  N334SW              121.0           135.0    107.0      80.0      94.0    IND  MCO       828     6.0      8.0          0           8.0         0           0.0       0.0            0.0               72.0
9         1452.0        1425   1640.0        1625            WN        675  N286WN              228.0           240.0    213.0      15.0      27.0    IND  PHX      1489     7.0      8.0          0           3.0         0           0.0       0.0            0.0               12.0
11        1323.0        1255   1526.0        1510            WN          4  N674AA              123.0           135.0    110.0      16.0      28.0    IND  TPA       838     4.0      9.0          0           0.0         0           0.0       0.0            0.0               16.0
...          ...         ...      ...         ...           ...        ...     ...                ...             ...      ...       ...       ...    ...  ...       ...     ...      ...        ...           ...       ...           ...       ...            ...                ...
1936751    921.0         830   1112.0        1008            DL       1616  N907DE              111.0            98.0     82.0      64.0      51.0    ATL  PBI       545     8.0     21.0          0          51.0         0           0.0      13.0            0.0                0.0
1936752   1552.0        1520   1735.0        1718            DL       1620  N905DE               43.0            58.0     27.0      17.0      32.0    HSV  ATL       151     9.0      7.0          0           0.0         0           0.0       0.0            0.0               17.0
1936753   1250.0        1220   1617.0        1552            DL       1621  N938DL              147.0           152.0    120.0      25.0      30.0    MSP  ATL       906     9.0     18.0          0           3.0         0           0.0       0.0            0.0               22.0
1936754    657.0         600    904.0         749            DL       1631  N3743H              127.0           109.0     78.0      75.0      57.0    RIC  ATL       481    15.0     34.0          0           0.0         0          57.0      18.0            0.0                0.0
1936755   1007.0         847   1149.0        1010            DL       1631  N909DA              162.0           143.0    122.0      99.0      80.0    ATL  IAH       689     8.0     32.0          0           1.0         0           0.0      19.0            0.0               79.0

[1247486 rows x 24 columns]

In [11]:
# Count how many duplicated rows are there:
duplicate_rows = new_dff.duplicated()
Number_of_duplicated = duplicate_rows.sum()
print("Number of duplicate rows:", Number_of_duplicated)

Number of duplicate rows: 3

In [12]:
# Now, I would like to drop duplicated rows.
ddr_new_df = new_dff.drop_duplicates()
cleaned_data= ddr_new_df

In [19]:
duplicate_rows = cleaned_data.duplicated()

Number_of_duplicated = duplicate_rows.sum()
print("Number of duplicate rows:", Number_of_duplicated) # All the duplicated rows are deleted.

Number of duplicate rows: 0

In [13]:
# Get an idea of how much missing data there is:
columns = cleaned_data.columns
percentage_missing = cleaned_data.isnull().sum() * 100 / len(data)
table_percentage_missing = pd.DataFrame({'' : columns,'percentage_missing': percentage_missing})
table_percentage_missing

NameError: name 'data' is not defined

In [22]:
cleaned_data

         DepTime  CRSDepTime  ArrTime  CRSArrTime UniqueCarrier  FlightNum TailNum  ActualElapsedTime  CRSElapsedTime  AirTime  ArrDelay  DepDelay Origin Dest  Distance  TaxiIn  TaxiOut  Cancelled  CarrierDelay  Diverted  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
3         1829.0        1755   1959.0        1925            WN       3920  N464WN               90.0            90.0     77.0      34.0      34.0    IND  BWI       515     3.0     10.0          0           2.0         0           0.0       0.0            0.0               32.0
5         1937.0        1830   2037.0        1940            WN        509  N763SW              240.0           250.0    230.0      57.0      67.0    IND  LAS      1591     3.0      7.0          0          10.0         0           0.0       0.0            0.0               47.0
7         1644.0        1510   1845.0        1725            WN       1333  N334SW              121.0           135.0    107.0      80.0      94.0    IND  MCO       828     6.0      8.0          0           8.0         0           0.0       0.0            0.0               72.0
9         1452.0        1425   1640.0        1625            WN        675  N286WN              228.0           240.0    213.0      15.0      27.0    IND  PHX      1489     7.0      8.0          0           3.0         0           0.0       0.0            0.0               12.0
11        1323.0        1255   1526.0        1510            WN          4  N674AA              123.0           135.0    110.0      16.0      28.0    IND  TPA       838     4.0      9.0          0           0.0         0           0.0       0.0            0.0               16.0
...          ...         ...      ...         ...           ...        ...     ...                ...             ...      ...       ...       ...    ...  ...       ...     ...      ...        ...           ...       ...           ...       ...            ...                ...
1936751    921.0         830   1112.0        1008            DL       1616  N907DE              111.0            98.0     82.0      64.0      51.0    ATL  PBI       545     8.0     21.0          0          51.0         0           0.0      13.0            0.0                0.0
1936752   1552.0        1520   1735.0        1718            DL       1620  N905DE               43.0            58.0     27.0      17.0      32.0    HSV  ATL       151     9.0      7.0          0           0.0         0           0.0       0.0            0.0               17.0
1936753   1250.0        1220   1617.0        1552            DL       1621  N938DL              147.0           152.0    120.0      25.0      30.0    MSP  ATL       906     9.0     18.0          0           3.0         0           0.0       0.0            0.0               22.0
1936754    657.0         600    904.0         749            DL       1631  N3743H              127.0           109.0     78.0      75.0      57.0    RIC  ATL       481    15.0     34.0          0           0.0         0          57.0      18.0            0.0                0.0
1936755   1007.0         847   1149.0        1010            DL       1631  N909DA              162.0           143.0    122.0      99.0      80.0    ATL  IAH       689     8.0     32.0          0           1.0         0           0.0      19.0            0.0               79.0

[1247483 rows x 24 columns]

In [14]:
# It randomly reduces the dimension of the dataset in order to obtain a dataset of only 200,000 records. 
# All exercises should be done on this reduced dataset.
random_sample = cleaned_data.sample(n=200000, random_state=42)
data= random_sample
data

         DepTime  CRSDepTime  ArrTime  CRSArrTime UniqueCarrier  FlightNum TailNum  ActualElapsedTime  CRSElapsedTime  AirTime  ArrDelay  DepDelay Origin Dest  Distance  TaxiIn  TaxiOut  Cancelled  CarrierDelay  Diverted  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
930046    1049.0         753   1215.0         930            XE       3061  N14974               86.0            97.0     70.0     165.0     176.0    TUL  IAH       429     5.0     11.0          0         165.0         0           0.0       0.0            0.0                0.0
159721    1719.0        1535   1953.0        1815            AA       1835  N4WDAA              274.0           280.0    254.0      98.0     104.0    ORD  SFO      1846     4.0     16.0          0          37.0         0           9.0       0.0            0.0               52.0
1066324   1106.0        1000   1243.0        1141            CO       1451  N17356               97.0           101.0     67.0      62.0      66.0    LGA  CLE       418     6.0     24.0          0           0.0         0           0.0       9.0            0.0               53.0
1495772   1511.0        1500   1735.0        1645            MQ       4716  N819AE              144.0           105.0     71.0      50.0      11.0    LGA  RDU       431     4.0     69.0          0           0.0         0           0.0      39.0            0.0               11.0
1552611    627.0         602    703.0         640            YV       7310  N651ML               96.0            98.0     77.0      23.0      25.0    TYS  ORD       475     6.0     13.0          0          23.0         0           0.0       0.0            0.0                0.0
...          ...         ...      ...         ...           ...        ...     ...                ...             ...      ...       ...       ...    ...  ...       ...     ...      ...        ...           ...       ...           ...       ...            ...                ...
1735333   1928.0        1855   2232.0        2210            WN         45  N646SW              124.0           135.0    115.0      22.0      33.0    HOU  FLL       957     3.0      6.0          0           5.0         0           0.0       0.0            0.0               17.0
1158445   1453.0        1437   1835.0        1757            UA       1190  N538UA              162.0           140.0    132.0      38.0      16.0    LAX  DEN       862     7.0     23.0          0          16.0         0           0.0      22.0            0.0                0.0
1161557    819.0         740   1049.0        1009            US       1625  N108UW              330.0           329.0    306.0      40.0      39.0    CLT  SEA      2279     5.0     19.0          0          39.0         0           0.0       1.0            0.0                0.0
1486633   1837.0        1753   1952.0        1908            FL        327  N336AT              135.0           135.0    114.0      44.0      44.0    LGA  MKE       738     6.0     15.0          0           0.0         0           0.0       0.0            0.0               44.0
1157974   1850.0        1732   2113.0        2000            UA       1143  N574UA              263.0           268.0    214.0      73.0      78.0    EWR  DEN      1605     9.0     40.0          0           0.0         0           0.0       0.0            0.0               73.0

[200000 rows x 24 columns]

# Exercise 2

#### Statistically summarize the dataset and columns of interest. Do a statistical analysis of what you consider relevant.

In [15]:
# Statistically summarized the dataset
data.describe().T

                      count         mean          std   min     25%     50%     75%     max
DepTime            200000.0  1559.755760   452.983173   1.0  1233.0  1619.0  1924.0  2400.0
CRSDepTime         200000.0  1488.462805   420.187173   0.0  1153.0  1530.0  1830.0  2359.0
ArrTime            200000.0  1617.745585   583.786307   1.0  1328.0  1737.0  2049.0  2400.0
CRSArrTime         200000.0  1653.534820   461.301296   1.0  1340.0  1724.0  2022.0  2359.0
FlightNum          200000.0  2272.134000  1994.927424   1.0   634.0  1589.0  3668.0  7829.0
ActualElapsedTime  200000.0   135.439410    72.193327  15.0    83.0   118.0   167.0   776.0
CRSElapsedTime     200000.0   131.820315    69.434005   2.0    80.0   115.0   161.0   660.0
AirTime            200000.0   107.488140    68.111809   0.0    58.0    90.0   136.0   733.0
ArrDelay           200000.0    63.161665    60.820783  15.0    26.0    43.0    79.0  2453.0
DepDelay           200000.0    59.542555    59.914865   6.0    24.0    41.0    75.0  2467.0
Distance           200000.0   742.140515   558.687845  30.0   334.0   595.0   972.0  4962.0
TaxiIn             200000.0     7.282995     5.991964   0.0     4.0     6.0     8.0   207.0
TaxiOut            200000.0    20.668275    16.686332   0.0    11.0    16.0    24.0   422.0
Cancelled          200000.0     0.000000     0.000000   0.0     0.0     0.0     0.0     0.0
CarrierDelay       200000.0    19.032980    43.262969   0.0     0.0     2.0    21.0  2436.0
Diverted           200000.0     0.000000     0.000000   0.0     0.0     0.0     0.0     0.0
WeatherDelay       200000.0     3.638340    21.072809   0.0     0.0     0.0     0.0  1297.0
NASDelay           200000.0    15.050805    33.816376   0.0     0.0     2.0    15.0  1207.0
SecurityDelay      200000.0     0.096445     2.342930   0.0     0.0     0.0     0.0   357.0
LateAircraftDelay  200000.0    25.343095    42.415997   0.0     0.0     8.0    33.0  1316.0

In [16]:
# I think these colummns are related.
Statistically_summarize= data[['DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'ActualElapsedTime',
                               'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Distance', 'CarrierDelay',
                               'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay' ]].describe().T
Statistically_summarize

                      count         mean         std   min     25%     50%     75%     max
DepTime            200000.0  1559.755760  452.983173   1.0  1233.0  1619.0  1924.0  2400.0
CRSDepTime         200000.0  1488.462805  420.187173   0.0  1153.0  1530.0  1830.0  2359.0
ArrTime            200000.0  1617.745585  583.786307   1.0  1328.0  1737.0  2049.0  2400.0
CRSArrTime         200000.0  1653.534820  461.301296   1.0  1340.0  1724.0  2022.0  2359.0
ActualElapsedTime  200000.0   135.439410   72.193327  15.0    83.0   118.0   167.0   776.0
CRSElapsedTime     200000.0   131.820315   69.434005   2.0    80.0   115.0   161.0   660.0
AirTime            200000.0   107.488140   68.111809   0.0    58.0    90.0   136.0   733.0
ArrDelay           200000.0    63.161665   60.820783  15.0    26.0    43.0    79.0  2453.0
DepDelay           200000.0    59.542555   59.914865   6.0    24.0    41.0    75.0  2467.0
Distance           200000.0   742.140515  558.687845  30.0   334.0   595.0   972.0  4962.0
CarrierDelay       200000.0    19.032980   43.262969   0.0     0.0     2.0    21.0  2436.0
WeatherDelay       200000.0     3.638340   21.072809   0.0     0.0     0.0     0.0  1297.0
NASDelay           200000.0    15.050805   33.816376   0.0     0.0     2.0    15.0  1207.0
SecurityDelay      200000.0     0.096445    2.342930   0.0     0.0     0.0     0.0   357.0
LateAircraftDelay  200000.0    25.343095   42.415997   0.0     0.0     8.0    33.0  1316.0

#### Find how much missing data there is per column.

In [17]:
data.isna().sum()

DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CarrierDelay         0
Diverted             0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

##### Create new columns (average flight speed, whether it was late or not...).

In [18]:
data['average_speed']= data['Distance']/ data['Distance'].mean()
data

         DepTime  CRSDepTime  ArrTime  CRSArrTime UniqueCarrier  FlightNum TailNum  ActualElapsedTime  CRSElapsedTime  AirTime  ArrDelay  DepDelay Origin Dest  Distance  TaxiIn  TaxiOut  Cancelled  CarrierDelay  Diverted  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay  average_speed
930046    1049.0         753   1215.0         930            XE       3061  N14974               86.0            97.0     70.0     165.0     176.0    TUL  IAH       429     5.0     11.0          0         165.0         0           0.0       0.0            0.0                0.0       0.578058
159721    1719.0        1535   1953.0        1815            AA       1835  N4WDAA              274.0           280.0    254.0      98.0     104.0    ORD  SFO      1846     4.0     16.0          0          37.0         0           9.0       0.0            0.0               52.0       2.487400
1066324   1106.0        1000   1243.0        1141            CO       1451  N17356               97.0           101.0     67.0      62.0      66.0    LGA  CLE       418     6.0     24.0          0           0.0         0           0.0       9.0            0.0               53.0       0.563236
1495772   1511.0        1500   1735.0        1645            MQ       4716  N819AE              144.0           105.0     71.0      50.0      11.0    LGA  RDU       431     4.0     69.0          0           0.0         0           0.0      39.0            0.0               11.0       0.580753
1552611    627.0         602    703.0         640            YV       7310  N651ML               96.0            98.0     77.0      23.0      25.0    TYS  ORD       475     6.0     13.0          0          23.0         0           0.0       0.0            0.0                0.0       0.640041
...          ...         ...      ...         ...           ...        ...     ...                ...             ...      ...       ...       ...    ...  ...       ...     ...      ...        ...           ...       ...           ...       ...            ...                ...            ...
1735333   1928.0        1855   2232.0        2210            WN         45  N646SW              124.0           135.0    115.0      22.0      33.0    HOU  FLL       957     3.0      6.0          0           5.0         0           0.0       0.0            0.0               17.0       1.289513
1158445   1453.0        1437   1835.0        1757            UA       1190  N538UA              162.0           140.0    132.0      38.0      16.0    LAX  DEN       862     7.0     23.0          0          16.0         0           0.0      22.0            0.0                0.0       1.161505
1161557    819.0         740   1049.0        1009            US       1625  N108UW              330.0           329.0    306.0      40.0      39.0    CLT  SEA      2279     5.0     19.0          0          39.0         0           0.0       1.0            0.0                0.0       3.070847
1486633   1837.0        1753   1952.0        1908            FL        327  N336AT              135.0           135.0    114.0      44.0      44.0    LGA  MKE       738     6.0     15.0          0           0.0         0           0.0       0.0            0.0               44.0       0.994421
1157974   1850.0        1732   2113.0        2000            UA       1143  N574UA              263.0           268.0    214.0      73.0      78.0    EWR  DEN      1605     9.0     40.0          0           0.0         0           0.0       0.0            0.0               73.0       2.162663

[200000 rows x 25 columns]

#### Make a table of the airlines with the most accumulated delays.

In [19]:
airlines_accumulated_delays= pd.DataFrame(data.groupby('UniqueCarrier')[['ArrDelay','DepDelay']].
             sum().sort_values(by='ArrDelay', ascending=False).reset_index())

airlines_accumulated_delays

   UniqueCarrier   ArrDelay   DepDelay
0             WN  1725166.0  1752306.0
1             AA  1388544.0  1289923.0
2             UA  1052363.0  1013094.0
3             MQ   975624.0   886344.0
4             OO   937697.0   877931.0
5             XE   822984.0   774164.0
6             DL   699495.0   621934.0
7             CO   620307.0   585091.0
8             EV   603579.0   578746.0
9             YV   576662.0   556652.0
10            US   563930.0   530978.0
11            NW   529363.0   468070.0
12            FL   490451.0   447403.0
13            B6   478634.0   443407.0
14            OH   404012.0   366717.0
15            9E   385880.0   364564.0
16            AS   222503.0   211126.0
17            F9   115922.0   103616.0
18            HA    37165.0    34308.0
19            AQ     2052.0     2137.0

#### What are the longest flights? And the most backward?

In [20]:
flight_duration = data[['FlightNum','AirTime']]

In [21]:
# I think the longest route is equal to  the most distance a flight has.
flight_duration.sort_values(by='AirTime', ascending=False) # the longest and backward flight time in minute.

         FlightNum  AirTime
1367047         28    733.0
362529          15    664.0
556380          15    641.0
1928078         15    637.0
175283          15    636.0
...            ...      ...
442113        2734      5.0
235073        5152      4.0
53526         3679      4.0
53543         3705      0.0
414132         555      0.0

[200000 rows x 2 columns]

##### Look for the longest routes:

In [22]:
# I think those flights that has the most distances, those are the longest flights.
longest_routes = data[['FlightNum','Origin', 'Dest','Distance']].sort_values(by = 'Distance', ascending= False)
longest_routes

         FlightNum Origin Dest  Distance
173822          15    EWR  HNL      4962
875732          14    HNL  EWR      4962
363212          15    EWR  HNL      4962
718681          14    HNL  EWR      4962
1724446         15    EWR  HNL      4962
...            ...    ...  ...       ...
864055          64    PSG  WRG        31
865080          65    WRG  PSG        31
1615006         65    WRG  PSG        31
707524          64    PSG  WRG        31
1310363       5052    HPN  JFK        30

[200000 rows x 4 columns]

##### Those flights with the most delays.

In [23]:
# these are all the delays columns with flight number.
most_delayed_flights = data[['FlightNum','ArrDelay', 'DepDelay', 'CarrierDelay',  'WeatherDelay',
                              'NASDelay','SecurityDelay', 'LateAircraftDelay', ]]
                              
mdf= most_delayed_flights
mdf

         FlightNum  ArrDelay  DepDelay  CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
930046        3061     165.0     176.0         165.0           0.0       0.0            0.0                0.0
159721        1835      98.0     104.0          37.0           9.0       0.0            0.0               52.0
1066324       1451      62.0      66.0           0.0           0.0       9.0            0.0               53.0
1495772       4716      50.0      11.0           0.0           0.0      39.0            0.0               11.0
1552611       7310      23.0      25.0          23.0           0.0       0.0            0.0                0.0
...            ...       ...       ...           ...           ...       ...            ...                ...
1735333         45      22.0      33.0           5.0           0.0       0.0            0.0               17.0
1158445       1190      38.0      16.0          16.0           0.0      22.0            0.0                0.0
1161557       1625      40.0      39.0          39.0           0.0       1.0            0.0                0.0
1486633        327      44.0      44.0           0.0           0.0       0.0            0.0               44.0
1157974       1143      73.0      78.0           0.0           0.0       0.0            0.0               73.0

[200000 rows x 8 columns]

In [113]:
# I created a new columns and sumed all delays to find out the most delayed flights
mdf['sum_MDF'] = mdf['ArrDelay'] #  "sum_MDF" means (sum of the most delayed flights)
+ mdf['DepDelay'] + mdf['CarrierDelay'] + mdf['WeatherDelay'] + mdf['NASDelay'] 
+ mdf['SecurityDelay'] +mdf['LateAircraftDelay'] # most delayed flights
mdf.sort_values(by = 'sum_MDF', ascending= False) # sorted to see the mosted flights on top.

C:\Users\mhabi\AppData\Local\Temp\ipykernel_3380\4024266044.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mdf['sum_MDF'] = mdf['ArrDelay'] #  "sum_MDF" means (sum of the most delayed flights)

         FlightNum  ArrDelay  DepDelay  CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay  sum_MDF
686014        1699    2453.0    2467.0        2436.0           0.0       0.0            0.0               17.0   2453.0
1881639        357    1655.0    1597.0        1307.0           0.0      58.0            0.0              290.0   1655.0
1497823        512    1583.0    1552.0        1552.0           0.0      31.0            0.0                0.0   1583.0
1885481       1196    1395.0    1403.0           0.0        1297.0       0.0            0.0               98.0   1395.0
1222506        284    1325.0    1316.0           0.0           0.0       9.0            0.0             1316.0   1325.0
...            ...       ...       ...           ...           ...       ...            ...                ...      ...
654186        4235      15.0      32.0          15.0           0.0       0.0            0.0                0.0     15.0
213821        2386      15.0      25.0           0.0           0.0       0.0            0.0               15.0     15.0
1171472         24      15.0      16.0           0.0           0.0       0.0            0.0               15.0     15.0
1577835        840      15.0      21.0           0.0           0.0      15.0            0.0                0.0     15.0
628341          52      15.0      22.0           4.0           0.0       0.0            0.0               11.0     15.0

[200000 rows x 9 columns]

##### Contribute what you consider relevant.

In [123]:
# I thinks these are relevant.
data[['AirTime', 'Distance', 'average_speed']].corr()

                AirTime  Distance  average_speed
AirTime        1.000000  0.978172       0.978172
Distance       0.978172  1.000000       1.000000
average_speed  0.978172  1.000000       1.000000

## Exercise 3
Export the dataset clean and with the new columns to Excel.

In [125]:
data.to_excel('mydata.xlsx')