# Mustafa Habibi

## Exercise 1
Download the data set Airlines Delay: Airline on-time statistics and delay causes and load it into a Pandas Dataframe. Explore the data it contains, briefly explain which variables are there, and stick only to the columns you consider relevant. Justify your choice.

In [2]:
import pandas as pd
import numpy as np
df= pd.read_csv('DelayedFlights.csv') # original data frame
pd.set_option('display.max_columns', None) # show all columns in onc cell.
pd.set_option('display.expand_frame_repr', False)
df

         Unnamed: 0  Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  ArrTime  CRSArrTime UniqueCarrier  FlightNum TailNum  ActualElapsedTime  CRSElapsedTime  AirTime  ArrDelay  DepDelay Origin Dest  Distance  TaxiIn  TaxiOut  Cancelled CancellationCode  Diverted  CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
0                 0  2008      1           3          4   2003.0        1955   2211.0        2225            WN        335  N712SW              128.0           150.0    116.0     -14.0       8.0    IAD  TPA       810     4.0      8.0          0                N         0           NaN           NaN       NaN            NaN                NaN
1                 1  2008      1           3          4    754.0         735   1002.0        1000            WN       3231  N772SW              128.0           145.0    113.0       2.0      19.0    IAD  TPA       810     5.0     10.0          0                N         0           NaN           NaN       NaN            NaN                NaN
2                 2  2008      1           3          4    628.0         620    804.0         750            WN        448  N428WN               96.0            90.0     76.0      14.0       8.0    IND  BWI       515     3.0     17.0          0                N         0           NaN           NaN       NaN            NaN                NaN
3                 4  2008      1           3          4   1829.0        1755   1959.0        1925            WN       3920  N464WN               90.0            90.0     77.0      34.0      34.0    IND  BWI       515     3.0     10.0          0                N         0           2.0           0.0       0.0            0.0               32.0
4                 5  2008      1           3          4   1940.0        1915   2121.0        2110            WN        378  N726SW              101.0           115.0     87.0      11.0      25.0    IND  JAX       688     4.0     10.0          0                N         0           NaN           NaN       NaN            NaN                NaN
...             ...   ...    ...         ...        ...      ...         ...      ...         ...           ...        ...     ...                ...             ...      ...       ...       ...    ...  ...       ...     ...      ...        ...              ...       ...           ...           ...       ...            ...                ...
1936753     7009710  2008     12          13          6   1250.0        1220   1617.0        1552            DL       1621  N938DL              147.0           152.0    120.0      25.0      30.0    MSP  ATL       906     9.0     18.0          0                N         0           3.0           0.0       0.0            0.0               22.0
1936754     7009717  2008     12          13          6    657.0         600    904.0         749            DL       1631  N3743H              127.0           109.0     78.0      75.0      57.0    RIC  ATL       481    15.0     34.0          0                N         0           0.0          57.0      18.0            0.0                0.0
1936755     7009718  2008     12          13          6   1007.0         847   1149.0        1010            DL       1631  N909DA              162.0           143.0    122.0      99.0      80.0    ATL  IAH       689     8.0     32.0          0                N         0           1.0           0.0      19.0            0.0               79.0
1936756     7009726  2008     12          13          6   1251.0        1240   1446.0        1437            DL       1639  N646DL              115.0           117.0     89.0       9.0      11.0    IAD  ATL       533    13.0     13.0          0                N         0           NaN           NaN       NaN            NaN                NaN
1936757     7009727  2008     12          13          6   1110.0        1103   1413.0        1418            DL       1641  N908DL              123.0           135.0    104.0      -5.0       7.0    SAT  ATL       874     8.0     11.0          0                N         0           NaN           NaN       NaN            NaN                NaN

[1936758 rows x 30 columns]

### Description of all columns are as follows:
- Year 2008
- Month 1-12
- DayofMonth 1-31
- DayOfWeek 1 (Monday) - 7 (Sunday)
- DepTime actual departure time (local, hhmm)
- CRSDepTime scheduled departure time (local, hhmm)
- ArrTime actual arrival time (local, hhmm)
- CRSArrTime scheduled arrival time (local, hhmm)
- UniqueCarrier unique carrier code
- FlightNum flight number
- TailNum plane tail number: aircraft registration, unique aircraft identifier
- ActualElapsedTime in minutes
- CRSElapsedTime in minutes
- AirTime in minutes
- ArrDelay arrival delay, in minutes: A flight is counted as "on time" if it operated less than 15 minutes later the scheduled time shown in the carriers' Computerized Reservations Systems (CRS).
- DepDelay departure delay, in minutes
- Origin origin IATA airport code
- Dest destination IATA airport code
- Distance in miles
- TaxiIn taxi in time, in minutes
- TaxiOut taxi out time in minutes
- Cancelled *was the flight cancelled
- CancellationCode reason for cancellation (A = carrier, B = weather, C = NAS, D = security)
- Diverted 1 = yes, 0 = no
- CarrierDelay in minutes: Carrier delay is within the control of the air carrier. Examples of occurrences that may determine carrier delay are: aircraft cleaning, aircraft damage, awaiting the arrival of connecting passengers or crew, baggage, bird strike, cargo loading, catering, computer, outage-carrier equipment, crew legality (pilot or attendant rest), damage by hazardous goods, engineering inspection, fueling, handling disabled passengers, late crew, lavatory servicing, maintenance, oversales, potable water servicing, removal of unruly passenger, slow boarding or seating, stowing carry-on baggage, weight and balance delays.
- WeatherDelay in minutes: Weather delay is caused by extreme or hazardous weather conditions that are forecasted or manifest themselves on point of departure, enroute, or on point of arrival.
- NASDelay in minutes: Delay that is within the control of the National Airspace System (NAS) may include: non-extreme weather conditions, airport operations, heavy traffic volume, air traffic control, etc.
- SecurityDelay in minutes: Security delay is caused by evacuation of a terminal or concourse, re-boarding of aircraft because of security breach, inoperative screening equipment and/or long lines in excess of 29 minutes at screening areas.
- LateAircraftDelay in minutes: Arrival delay at an airport due to the late arrival of the same aircraft at a previous airport. The ripple effect of an earlier delay at downstream airports is referred to as delay propagation.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

In [4]:
df.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

### It randomly reduces the dimension of the dataset in order to obtain a dataset of only 200,000 records. All exercises should be done on this reduced dataset.

In [5]:
# Deteled all Cancelled flights.

deleted_canceled_flights= df.drop(df[df.Cancelled == 1].index)
deleted_canceled_flights
dcf= deleted_canceled_flights
dcf

         Unnamed: 0  Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  ArrTime  CRSArrTime UniqueCarrier  FlightNum TailNum  ActualElapsedTime  CRSElapsedTime  AirTime  ArrDelay  DepDelay Origin Dest  Distance  TaxiIn  TaxiOut  Cancelled CancellationCode  Diverted  CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
0                 0  2008      1           3          4   2003.0        1955   2211.0        2225            WN        335  N712SW              128.0           150.0    116.0     -14.0       8.0    IAD  TPA       810     4.0      8.0          0                N         0           NaN           NaN       NaN            NaN                NaN
1                 1  2008      1           3          4    754.0         735   1002.0        1000            WN       3231  N772SW              128.0           145.0    113.0       2.0      19.0    IAD  TPA       810     5.0     10.0          0                N         0           NaN           NaN       NaN            NaN                NaN
2                 2  2008      1           3          4    628.0         620    804.0         750            WN        448  N428WN               96.0            90.0     76.0      14.0       8.0    IND  BWI       515     3.0     17.0          0                N         0           NaN           NaN       NaN            NaN                NaN
3                 4  2008      1           3          4   1829.0        1755   1959.0        1925            WN       3920  N464WN               90.0            90.0     77.0      34.0      34.0    IND  BWI       515     3.0     10.0          0                N         0           2.0           0.0       0.0            0.0               32.0
4                 5  2008      1           3          4   1940.0        1915   2121.0        2110            WN        378  N726SW              101.0           115.0     87.0      11.0      25.0    IND  JAX       688     4.0     10.0          0                N         0           NaN           NaN       NaN            NaN                NaN
...             ...   ...    ...         ...        ...      ...         ...      ...         ...           ...        ...     ...                ...             ...      ...       ...       ...    ...  ...       ...     ...      ...        ...              ...       ...           ...           ...       ...            ...                ...
1936753     7009710  2008     12          13          6   1250.0        1220   1617.0        1552            DL       1621  N938DL              147.0           152.0    120.0      25.0      30.0    MSP  ATL       906     9.0     18.0          0                N         0           3.0           0.0       0.0            0.0               22.0
1936754     7009717  2008     12          13          6    657.0         600    904.0         749            DL       1631  N3743H              127.0           109.0     78.0      75.0      57.0    RIC  ATL       481    15.0     34.0          0                N         0           0.0          57.0      18.0            0.0                0.0
1936755     7009718  2008     12          13          6   1007.0         847   1149.0        1010            DL       1631  N909DA              162.0           143.0    122.0      99.0      80.0    ATL  IAH       689     8.0     32.0          0                N         0           1.0           0.0      19.0            0.0               79.0
1936756     7009726  2008     12          13          6   1251.0        1240   1446.0        1437            DL       1639  N646DL              115.0           117.0     89.0       9.0      11.0    IAD  ATL       533    13.0     13.0          0                N         0           NaN           NaN       NaN            NaN                NaN
1936757     7009727  2008     12          13          6   1110.0        1103   1413.0        1418            DL       1641  N908DL              123.0           135.0    104.0      -5.0       7.0    SAT  ATL       874     8.0     11.0          0                N         0           NaN           NaN       NaN            NaN                NaN

[1936125 rows x 30 columns]

In [6]:
# I want to Detele all diverted flights because there is no data related to delay causes.

deleted_diverted_flights= dcf.drop(dcf[dcf.Diverted == 1].index)
deleted_diverted_flights
ddf= deleted_diverted_flights
ddf

         Unnamed: 0  Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  ArrTime  CRSArrTime UniqueCarrier  FlightNum TailNum  ActualElapsedTime  CRSElapsedTime  AirTime  ArrDelay  DepDelay Origin Dest  Distance  TaxiIn  TaxiOut  Cancelled CancellationCode  Diverted  CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
0                 0  2008      1           3          4   2003.0        1955   2211.0        2225            WN        335  N712SW              128.0           150.0    116.0     -14.0       8.0    IAD  TPA       810     4.0      8.0          0                N         0           NaN           NaN       NaN            NaN                NaN
1                 1  2008      1           3          4    754.0         735   1002.0        1000            WN       3231  N772SW              128.0           145.0    113.0       2.0      19.0    IAD  TPA       810     5.0     10.0          0                N         0           NaN           NaN       NaN            NaN                NaN
2                 2  2008      1           3          4    628.0         620    804.0         750            WN        448  N428WN               96.0            90.0     76.0      14.0       8.0    IND  BWI       515     3.0     17.0          0                N         0           NaN           NaN       NaN            NaN                NaN
3                 4  2008      1           3          4   1829.0        1755   1959.0        1925            WN       3920  N464WN               90.0            90.0     77.0      34.0      34.0    IND  BWI       515     3.0     10.0          0                N         0           2.0           0.0       0.0            0.0               32.0
4                 5  2008      1           3          4   1940.0        1915   2121.0        2110            WN        378  N726SW              101.0           115.0     87.0      11.0      25.0    IND  JAX       688     4.0     10.0          0                N         0           NaN           NaN       NaN            NaN                NaN
...             ...   ...    ...         ...        ...      ...         ...      ...         ...           ...        ...     ...                ...             ...      ...       ...       ...    ...  ...       ...     ...      ...        ...              ...       ...           ...           ...       ...            ...                ...
1936753     7009710  2008     12          13          6   1250.0        1220   1617.0        1552            DL       1621  N938DL              147.0           152.0    120.0      25.0      30.0    MSP  ATL       906     9.0     18.0          0                N         0           3.0           0.0       0.0            0.0               22.0
1936754     7009717  2008     12          13          6    657.0         600    904.0         749            DL       1631  N3743H              127.0           109.0     78.0      75.0      57.0    RIC  ATL       481    15.0     34.0          0                N         0           0.0          57.0      18.0            0.0                0.0
1936755     7009718  2008     12          13          6   1007.0         847   1149.0        1010            DL       1631  N909DA              162.0           143.0    122.0      99.0      80.0    ATL  IAH       689     8.0     32.0          0                N         0           1.0           0.0      19.0            0.0               79.0
1936756     7009726  2008     12          13          6   1251.0        1240   1446.0        1437            DL       1639  N646DL              115.0           117.0     89.0       9.0      11.0    IAD  ATL       533    13.0     13.0          0                N         0           NaN           NaN       NaN            NaN                NaN
1936757     7009727  2008     12          13          6   1110.0        1103   1413.0        1418            DL       1641  N908DL              123.0           135.0    104.0      -5.0       7.0    SAT  ATL       874     8.0     11.0          0                N         0           NaN           NaN       NaN            NaN                NaN

[1928371 rows x 30 columns]

In [7]:
# I want to delete the following columns that I think those are not nessesary for the next analyses and exercises.

ddf_flights = ddf[[#'Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', CancellationCode'.
    'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled',
    'CarrierDelay','Diverted', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']]
ddff=ddf_flights
ddff
# All null values of ArrTime has deleted while I had deleted 'Diverted' and 'Canceled' flights.
# So there is no null values in ArrTime now.

         DepTime  CRSDepTime  ArrTime  CRSArrTime UniqueCarrier  FlightNum TailNum  ActualElapsedTime  CRSElapsedTime  AirTime  ArrDelay  DepDelay Origin Dest  Distance  TaxiIn  TaxiOut  Cancelled  CarrierDelay  Diverted  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
0         2003.0        1955   2211.0        2225            WN        335  N712SW              128.0           150.0    116.0     -14.0       8.0    IAD  TPA       810     4.0      8.0          0           NaN         0           NaN       NaN            NaN                NaN
1          754.0         735   1002.0        1000            WN       3231  N772SW              128.0           145.0    113.0       2.0      19.0    IAD  TPA       810     5.0     10.0          0           NaN         0           NaN       NaN            NaN                NaN
2          628.0         620    804.0         750            WN        448  N428WN               96.0            90.0     76.0      14.0       8.0    IND  BWI       515     3.0     17.0          0           NaN         0           NaN       NaN            NaN                NaN
3         1829.0        1755   1959.0        1925            WN       3920  N464WN               90.0            90.0     77.0      34.0      34.0    IND  BWI       515     3.0     10.0          0           2.0         0           0.0       0.0            0.0               32.0
4         1940.0        1915   2121.0        2110            WN        378  N726SW              101.0           115.0     87.0      11.0      25.0    IND  JAX       688     4.0     10.0          0           NaN         0           NaN       NaN            NaN                NaN
...          ...         ...      ...         ...           ...        ...     ...                ...             ...      ...       ...       ...    ...  ...       ...     ...      ...        ...           ...       ...           ...       ...            ...                ...
1936753   1250.0        1220   1617.0        1552            DL       1621  N938DL              147.0           152.0    120.0      25.0      30.0    MSP  ATL       906     9.0     18.0          0           3.0         0           0.0       0.0            0.0               22.0
1936754    657.0         600    904.0         749            DL       1631  N3743H              127.0           109.0     78.0      75.0      57.0    RIC  ATL       481    15.0     34.0          0           0.0         0          57.0      18.0            0.0                0.0
1936755   1007.0         847   1149.0        1010            DL       1631  N909DA              162.0           143.0    122.0      99.0      80.0    ATL  IAH       689     8.0     32.0          0           1.0         0           0.0      19.0            0.0               79.0
1936756   1251.0        1240   1446.0        1437            DL       1639  N646DL              115.0           117.0     89.0       9.0      11.0    IAD  ATL       533    13.0     13.0          0           NaN         0           NaN       NaN            NaN                NaN
1936757   1110.0        1103   1413.0        1418            DL       1641  N908DL              123.0           135.0    104.0      -5.0       7.0    SAT  ATL       874     8.0     11.0          0           NaN         0           NaN       NaN            NaN                NaN

[1928371 rows x 24 columns]

In [8]:
ddff.isnull().sum()

DepTime                   0
CRSDepTime                0
ArrTime                   0
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   3
ActualElapsedTime         0
CRSElapsedTime            0
AirTime                   0
ArrDelay                  0
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                    0
TaxiOut                   0
Cancelled                 0
CarrierDelay         680883
Diverted                  0
WeatherDelay         680883
NASDelay             680883
SecurityDelay        680883
LateAircraftDelay    680883
dtype: int64

In [9]:
# I want to remove 3 null values of 'TailNum' 
new_df = ddff.dropna(subset=['TailNum'])
new_df

         DepTime  CRSDepTime  ArrTime  CRSArrTime UniqueCarrier  FlightNum TailNum  ActualElapsedTime  CRSElapsedTime  AirTime  ArrDelay  DepDelay Origin Dest  Distance  TaxiIn  TaxiOut  Cancelled  CarrierDelay  Diverted  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
0         2003.0        1955   2211.0        2225            WN        335  N712SW              128.0           150.0    116.0     -14.0       8.0    IAD  TPA       810     4.0      8.0          0           NaN         0           NaN       NaN            NaN                NaN
1          754.0         735   1002.0        1000            WN       3231  N772SW              128.0           145.0    113.0       2.0      19.0    IAD  TPA       810     5.0     10.0          0           NaN         0           NaN       NaN            NaN                NaN
2          628.0         620    804.0         750            WN        448  N428WN               96.0            90.0     76.0      14.0       8.0    IND  BWI       515     3.0     17.0          0           NaN         0           NaN       NaN            NaN                NaN
3         1829.0        1755   1959.0        1925            WN       3920  N464WN               90.0            90.0     77.0      34.0      34.0    IND  BWI       515     3.0     10.0          0           2.0         0           0.0       0.0            0.0               32.0
4         1940.0        1915   2121.0        2110            WN        378  N726SW              101.0           115.0     87.0      11.0      25.0    IND  JAX       688     4.0     10.0          0           NaN         0           NaN       NaN            NaN                NaN
...          ...         ...      ...         ...           ...        ...     ...                ...             ...      ...       ...       ...    ...  ...       ...     ...      ...        ...           ...       ...           ...       ...            ...                ...
1936753   1250.0        1220   1617.0        1552            DL       1621  N938DL              147.0           152.0    120.0      25.0      30.0    MSP  ATL       906     9.0     18.0          0           3.0         0           0.0       0.0            0.0               22.0
1936754    657.0         600    904.0         749            DL       1631  N3743H              127.0           109.0     78.0      75.0      57.0    RIC  ATL       481    15.0     34.0          0           0.0         0          57.0      18.0            0.0                0.0
1936755   1007.0         847   1149.0        1010            DL       1631  N909DA              162.0           143.0    122.0      99.0      80.0    ATL  IAH       689     8.0     32.0          0           1.0         0           0.0      19.0            0.0               79.0
1936756   1251.0        1240   1446.0        1437            DL       1639  N646DL              115.0           117.0     89.0       9.0      11.0    IAD  ATL       533    13.0     13.0          0           NaN         0           NaN       NaN            NaN                NaN
1936757   1110.0        1103   1413.0        1418            DL       1641  N908DL              123.0           135.0    104.0      -5.0       7.0    SAT  ATL       874     8.0     11.0          0           NaN         0           NaN       NaN            NaN                NaN

[1928368 rows x 24 columns]

In [36]:
# I put '0' instead of null values.
new_df[['CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'
       ]] = df[['CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay' ]].fillna(0)
new_df.isnull().sum()

C:\Users\mhabi\AppData\Local\Temp\ipykernel_11124\2586851584.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[['CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'

DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CarrierDelay         0
Diverted             0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

In [17]:
# Count how many duplicated rows are there:
duplicate_rows = new_df.duplicated()
Number_of_duplicated = duplicate_rows.sum()
print("Number of duplicate rows:", Number_of_duplicated)

Number of duplicate rows: 12

In [18]:
# Now, I would like to drop duplicated rows.
cleaned_data = new_df.drop_duplicates()

In [19]:
duplicate_rows = cleaned_data.duplicated()

Number_of_duplicated = duplicate_rows.sum()
print("Number of duplicate rows:", Number_of_duplicated) # All the duplicated rows are deleted.

Number of duplicate rows: 0

In [21]:
# Get an idea of how much missing data there is:
columns = cleaned_data.columns
percentage_missing = cleaned_data.isnull().sum() * 100 / len(cleaned_data)
table_percentage_missing = pd.DataFrame({'' : columns,'percentage_missing': percentage_missing})
table_percentage_missing

                                      percentage_missing
DepTime                      DepTime                 0.0
CRSDepTime                CRSDepTime                 0.0
ArrTime                      ArrTime                 0.0
CRSArrTime                CRSArrTime                 0.0
UniqueCarrier          UniqueCarrier                 0.0
FlightNum                  FlightNum                 0.0
TailNum                      TailNum                 0.0
ActualElapsedTime  ActualElapsedTime                 0.0
CRSElapsedTime        CRSElapsedTime                 0.0
AirTime                      AirTime                 0.0
ArrDelay                    ArrDelay                 0.0
DepDelay                    DepDelay                 0.0
Origin                        Origin                 0.0
Dest                            Dest                 0.0
Distance                    Distance                 0.0
TaxiIn                        TaxiIn                 0.0
TaxiOut                      TaxiOut                 0.0
Cancelled                  Cancelled                 0.0
CarrierDelay            CarrierDelay                 0.0
Diverted                    Diverted                 0.0
WeatherDelay            WeatherDelay                 0.0
NASDelay                    NASDelay                 0.0
SecurityDelay          SecurityDelay                 0.0
LateAircraftDelay  LateAircraftDelay                 0.0

In [22]:
cleaned_data

         DepTime  CRSDepTime  ArrTime  CRSArrTime UniqueCarrier  FlightNum TailNum  ActualElapsedTime  CRSElapsedTime  AirTime  ArrDelay  DepDelay Origin Dest  Distance  TaxiIn  TaxiOut  Cancelled  CarrierDelay  Diverted  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
0         2003.0        1955   2211.0        2225            WN        335  N712SW              128.0           150.0    116.0     -14.0       8.0    IAD  TPA       810     4.0      8.0          0           0.0         0           0.0       0.0            0.0                0.0
1          754.0         735   1002.0        1000            WN       3231  N772SW              128.0           145.0    113.0       2.0      19.0    IAD  TPA       810     5.0     10.0          0           0.0         0           0.0       0.0            0.0                0.0
2          628.0         620    804.0         750            WN        448  N428WN               96.0            90.0     76.0      14.0       8.0    IND  BWI       515     3.0     17.0          0           0.0         0           0.0       0.0            0.0                0.0
3         1829.0        1755   1959.0        1925            WN       3920  N464WN               90.0            90.0     77.0      34.0      34.0    IND  BWI       515     3.0     10.0          0           2.0         0           0.0       0.0            0.0               32.0
4         1940.0        1915   2121.0        2110            WN        378  N726SW              101.0           115.0     87.0      11.0      25.0    IND  JAX       688     4.0     10.0          0           0.0         0           0.0       0.0            0.0                0.0
...          ...         ...      ...         ...           ...        ...     ...                ...             ...      ...       ...       ...    ...  ...       ...     ...      ...        ...           ...       ...           ...       ...            ...                ...
1936753   1250.0        1220   1617.0        1552            DL       1621  N938DL              147.0           152.0    120.0      25.0      30.0    MSP  ATL       906     9.0     18.0          0           3.0         0           0.0       0.0            0.0               22.0
1936754    657.0         600    904.0         749            DL       1631  N3743H              127.0           109.0     78.0      75.0      57.0    RIC  ATL       481    15.0     34.0          0           0.0         0          57.0      18.0            0.0                0.0
1936755   1007.0         847   1149.0        1010            DL       1631  N909DA              162.0           143.0    122.0      99.0      80.0    ATL  IAH       689     8.0     32.0          0           1.0         0           0.0      19.0            0.0               79.0
1936756   1251.0        1240   1446.0        1437            DL       1639  N646DL              115.0           117.0     89.0       9.0      11.0    IAD  ATL       533    13.0     13.0          0           0.0         0           0.0       0.0            0.0                0.0
1936757   1110.0        1103   1413.0        1418            DL       1641  N908DL              123.0           135.0    104.0      -5.0       7.0    SAT  ATL       874     8.0     11.0          0           0.0         0           0.0       0.0            0.0                0.0

[1928356 rows x 24 columns]

In [37]:
# It randomly reduces the dimension of the dataset in order to obtain a dataset of only 200,000 records. 
# All exercises should be done on this reduced dataset.
random_sample = cleaned_data.sample(n=200000, random_state=42)
data= random_sample
data

         DepTime  CRSDepTime  ArrTime  CRSArrTime UniqueCarrier  FlightNum TailNum  ActualElapsedTime  CRSElapsedTime  AirTime  ArrDelay  DepDelay Origin Dest  Distance  TaxiIn  TaxiOut  Cancelled  CarrierDelay  Diverted  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
169927    1243.0        1225   2059.0        2048            B6        644  N659JB              316.0           323.0    288.0      11.0      18.0    SFO  JFK      2586     5.0     23.0          0           0.0         0           0.0       0.0            0.0                0.0
1336503    931.0         925   1031.0        1035            US        964  N955UW               60.0            70.0     45.0      -4.0       6.0    CLT  ORF       290     3.0     12.0          0           0.0         0           0.0       0.0            0.0                0.0
1548828   1807.0        1750   1942.0        1919            XE       2658  N15986               95.0            89.0     75.0      23.0      17.0    MAF  IAH       429    10.0     10.0          0           0.0         0           0.0       6.0           17.0                0.0
898996    1436.0        1340   1524.0        1430            WN       2580  N416WN               48.0            50.0     37.0      54.0      56.0    JAX  TPA       180     3.0      8.0          0           0.0         0          33.0       0.0            0.0               21.0
689321     737.0         700    852.0         757            9E       5658  87949E              135.0           117.0     99.0      55.0      37.0    DAY  MSP       574     5.0     31.0          0          37.0         0           0.0      18.0            0.0                0.0
...          ...         ...      ...         ...           ...        ...     ...                ...             ...      ...       ...       ...    ...  ...       ...     ...      ...        ...           ...       ...           ...       ...            ...                ...
338974    1230.0        1215   1609.0        1559            AA        808  N556AA              159.0           164.0    136.0      10.0      15.0    DFW  DCA      1192     9.0     14.0          0           0.0         0           0.0       0.0            0.0                0.0
530669    1026.0        1020   1212.0        1240            AA        419  N245AA              166.0           200.0    151.0     -28.0       6.0    ORD  ELP      1236     4.0     11.0          0           0.0         0           0.0       0.0            0.0                0.0
428260     650.0         620    732.0         700            YV       1010  N27314               42.0            40.0     29.0      32.0      30.0    KOA  HNL       163     5.0      8.0          0          32.0         0           0.0       0.0            0.0                0.0
1049093   2104.0        2045     28.0          15            AA       1538  N459AA              144.0           150.0    123.0      13.0      19.0    DFW  MCO       984     5.0     16.0          0           0.0         0           0.0       0.0            0.0                0.0
1755895   1902.0        1815   2022.0        1935            WN       1687  N751SW               80.0            80.0     69.0      47.0      47.0    ONT  OAK       361     6.0      5.0          0           3.0         0           0.0       0.0            0.0               44.0

[200000 rows x 24 columns]

# Exercise 2

#### Statistically summarize the dataset and columns of interest. Do a statistical analysis of what you consider relevant.

In [38]:
# Statistically summarized the dataset
data.describe().T

                      count         mean          std   min     25%     50%     75%     max
DepTime            200000.0  1517.407250   450.843122   1.0  1202.0  1545.0  1900.0  2400.0
CRSDepTime         200000.0  1466.950820   424.763933   0.0  1134.0  1510.0  1815.0  2359.0
ArrTime            200000.0  1608.059365   548.890341   1.0  1315.0  1714.0  2029.0  2400.0
CRSArrTime         200000.0  1632.841350   465.463968   0.0  1325.0  1705.0  2013.0  2359.0
FlightNum          200000.0  2180.334045  1943.179465   1.0   608.0  1542.0  3410.0  9740.0
ActualElapsedTime  200000.0   133.210210    71.896842  15.0    80.0   116.0   165.0   693.0
CRSElapsedTime     200000.0   134.117325    71.097270   1.0    81.0   116.0   165.0   660.0
AirTime            200000.0   108.172040    68.494622   1.0    58.0    90.0   137.0   645.0
ArrDelay           200000.0    42.072115    56.709124 -70.0     9.0    24.0    56.0  1525.0
DepDelay           200000.0    42.979230    53.218555   6.0    12.0    24.0    53.0  1403.0
Distance           200000.0   764.272400   572.512429  30.0   337.0   607.0   997.0  4962.0
TaxiIn             200000.0     6.816545     5.301249   0.0     4.0     6.0     8.0   240.0
TaxiOut            200000.0    18.221625    14.256185   0.0    10.0    14.0    21.0   379.0
Cancelled          200000.0     0.000000     0.000000   0.0     0.0     0.0     0.0     0.0
CarrierDelay       200000.0    12.446920    36.034060   0.0     0.0     0.0    10.0  1312.0
Diverted           200000.0     0.000000     0.000000   0.0     0.0     0.0     0.0     0.0
WeatherDelay       200000.0     2.432500    17.745382   0.0     0.0     0.0     0.0  1297.0
NASDelay           200000.0     9.570825    27.592183   0.0     0.0     0.0     6.0  1207.0
SecurityDelay      200000.0     0.059795     1.488046   0.0     0.0     0.0     0.0   211.0
LateAircraftDelay  200000.0    16.294230    36.135600   0.0     0.0     0.0    18.0  1316.0

In [39]:
# I think these colummns are related.
Statistically_summarize= data[['DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'ActualElapsedTime',
                               'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Distance', 'CarrierDelay',
                               'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay' ]].describe().T
Statistically_summarize

                      count         mean         std   min     25%     50%     75%     max
DepTime            200000.0  1517.407250  450.843122   1.0  1202.0  1545.0  1900.0  2400.0
CRSDepTime         200000.0  1466.950820  424.763933   0.0  1134.0  1510.0  1815.0  2359.0
ArrTime            200000.0  1608.059365  548.890341   1.0  1315.0  1714.0  2029.0  2400.0
CRSArrTime         200000.0  1632.841350  465.463968   0.0  1325.0  1705.0  2013.0  2359.0
ActualElapsedTime  200000.0   133.210210   71.896842  15.0    80.0   116.0   165.0   693.0
CRSElapsedTime     200000.0   134.117325   71.097270   1.0    81.0   116.0   165.0   660.0
AirTime            200000.0   108.172040   68.494622   1.0    58.0    90.0   137.0   645.0
ArrDelay           200000.0    42.072115   56.709124 -70.0     9.0    24.0    56.0  1525.0
DepDelay           200000.0    42.979230   53.218555   6.0    12.0    24.0    53.0  1403.0
Distance           200000.0   764.272400  572.512429  30.0   337.0   607.0   997.0  4962.0
CarrierDelay       200000.0    12.446920   36.034060   0.0     0.0     0.0    10.0  1312.0
WeatherDelay       200000.0     2.432500   17.745382   0.0     0.0     0.0     0.0  1297.0
NASDelay           200000.0     9.570825   27.592183   0.0     0.0     0.0     6.0  1207.0
SecurityDelay      200000.0     0.059795    1.488046   0.0     0.0     0.0     0.0   211.0
LateAircraftDelay  200000.0    16.294230   36.135600   0.0     0.0     0.0    18.0  1316.0

#### Find how much missing data there is per column.

In [17]:
data.isna().sum()

DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CarrierDelay         0
Diverted             0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

##### Create new columns (average flight speed, whether it was late or not...).

In [40]:
data['average_speed']= data['Distance']/ data['Distance'].mean()
data

         DepTime  CRSDepTime  ArrTime  CRSArrTime UniqueCarrier  FlightNum TailNum  ActualElapsedTime  CRSElapsedTime  AirTime  ArrDelay  DepDelay Origin Dest  Distance  TaxiIn  TaxiOut  Cancelled  CarrierDelay  Diverted  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay  average_speed
169927    1243.0        1225   2059.0        2048            B6        644  N659JB              316.0           323.0    288.0      11.0      18.0    SFO  JFK      2586     5.0     23.0          0           0.0         0           0.0       0.0            0.0                0.0       3.383610
1336503    931.0         925   1031.0        1035            US        964  N955UW               60.0            70.0     45.0      -4.0       6.0    CLT  ORF       290     3.0     12.0          0           0.0         0           0.0       0.0            0.0                0.0       0.379446
1548828   1807.0        1750   1942.0        1919            XE       2658  N15986               95.0            89.0     75.0      23.0      17.0    MAF  IAH       429    10.0     10.0          0           0.0         0           0.0       6.0           17.0                0.0       0.561318
898996    1436.0        1340   1524.0        1430            WN       2580  N416WN               48.0            50.0     37.0      54.0      56.0    JAX  TPA       180     3.0      8.0          0           0.0         0          33.0       0.0            0.0               21.0       0.235518
689321     737.0         700    852.0         757            9E       5658  87949E              135.0           117.0     99.0      55.0      37.0    DAY  MSP       574     5.0     31.0          0          37.0         0           0.0      18.0            0.0                0.0       0.751041
...          ...         ...      ...         ...           ...        ...     ...                ...             ...      ...       ...       ...    ...  ...       ...     ...      ...        ...           ...       ...           ...       ...            ...                ...            ...
338974    1230.0        1215   1609.0        1559            AA        808  N556AA              159.0           164.0    136.0      10.0      15.0    DFW  DCA      1192     9.0     14.0          0           0.0         0           0.0       0.0            0.0                0.0       1.559653
530669    1026.0        1020   1212.0        1240            AA        419  N245AA              166.0           200.0    151.0     -28.0       6.0    ORD  ELP      1236     4.0     11.0          0           0.0         0           0.0       0.0            0.0                0.0       1.617224
428260     650.0         620    732.0         700            YV       1010  N27314               42.0            40.0     29.0      32.0      30.0    KOA  HNL       163     5.0      8.0          0          32.0         0           0.0       0.0            0.0                0.0       0.213275
1049093   2104.0        2045     28.0          15            AA       1538  N459AA              144.0           150.0    123.0      13.0      19.0    DFW  MCO       984     5.0     16.0          0           0.0         0           0.0       0.0            0.0                0.0       1.287499
1755895   1902.0        1815   2022.0        1935            WN       1687  N751SW               80.0            80.0     69.0      47.0      47.0    ONT  OAK       361     6.0      5.0          0           3.0         0           0.0       0.0            0.0               44.0       0.472345

[200000 rows x 25 columns]

#### Make a table of the airlines with the most accumulated delays.

In [43]:
airlines_accumulated_delays= pd.DataFrame(data.groupby('UniqueCarrier')[['ArrDelay','DepDelay']].
             sum().sort_values(by='ArrDelay', ascending=False).reset_index())

airlines_accumulated_delays

   UniqueCarrier   ArrDelay   DepDelay
0             WN  1172960.0  1348354.0
1             AA   925934.0   920514.0
2             UA   705045.0   736197.0
3             MQ   659814.0   635295.0
4             OO   619036.0   608308.0
5             XE   527020.0   522164.0
6             DL   465325.0   457261.0
7             CO   425272.0   451588.0
8             EV   395450.0   400931.0
9             YV   379068.0   381027.0
10            US   370344.0   394153.0
11            NW   340222.0   319820.0
12            FL   319755.0   312950.0
13            B6   316081.0   315068.0
14            OH   274231.0   265525.0
15            9E   256786.0   259034.0
16            AS   150804.0   157719.0
17            F9    83188.0    82093.0
18            HA    25985.0    25343.0
19            AQ     2103.0     2502.0

#### What are the longest flights? And the most backward?

In [44]:
flight_duration = data[['FlightNum','AirTime']]

In [45]:
# I think the longest route is equal to  the most distance a flight has.
flight_duration.sort_values(by='AirTime', ascending=False) # the longest and backward flight time in minute.

         FlightNum  AirTime
875499          15    645.0
556380          15    641.0
556364          15    631.0
1923114         15    630.0
174802          15    626.0
...            ...      ...
45609         7375      7.0
1306494       1949      6.0
920681        7764      5.0
950529        5458      1.0
1178266       4200      1.0

[200000 rows x 2 columns]

##### Look for the longest routes:

In [46]:
# I think those flights that has the most distances, those are the longest flights.
longest_routes = data[['FlightNum','Origin', 'Dest','Distance']].sort_values(by = 'Distance', ascending= False)
longest_routes

         FlightNum Origin Dest  Distance
1929201         15    EWR  HNL      4962
1520431         15    EWR  HNL      4962
556380          15    EWR  HNL      4962
1420028         14    HNL  EWR      4962
1414184         14    HNL  EWR      4962
...            ...    ...  ...       ...
708246          64    PSG  WRG        31
1403703         65    WRG  PSG        31
549984          64    PSG  WRG        31
166038          64    PSG  WRG        31
1310363       5052    HPN  JFK        30

[200000 rows x 4 columns]

##### Those flights with the most delays.

In [47]:
# these are all the delays columns with flight number.
most_delayed_flights = data[['FlightNum','ArrDelay', 'DepDelay', 'CarrierDelay',  'WeatherDelay',
                              'NASDelay','SecurityDelay', 'LateAircraftDelay', ]]
                              
mdf= most_delayed_flights
mdf

         FlightNum  ArrDelay  DepDelay  CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
169927         644      11.0      18.0           0.0           0.0       0.0            0.0                0.0
1336503        964      -4.0       6.0           0.0           0.0       0.0            0.0                0.0
1548828       2658      23.0      17.0           0.0           0.0       6.0           17.0                0.0
898996        2580      54.0      56.0           0.0          33.0       0.0            0.0               21.0
689321        5658      55.0      37.0          37.0           0.0      18.0            0.0                0.0
...            ...       ...       ...           ...           ...       ...            ...                ...
338974         808      10.0      15.0           0.0           0.0       0.0            0.0                0.0
530669         419     -28.0       6.0           0.0           0.0       0.0            0.0                0.0
428260        1010      32.0      30.0          32.0           0.0       0.0            0.0                0.0
1049093       1538      13.0      19.0           0.0           0.0       0.0            0.0                0.0
1755895       1687      47.0      47.0           3.0           0.0       0.0            0.0               44.0

[200000 rows x 8 columns]

In [48]:
# I created a new columns and sumed all delays to find out the most delayed flights
mdf['sum_MDF'] = mdf['ArrDelay'] #  "sum_MDF" means (sum of the most delayed flights)
+ mdf['DepDelay'] + mdf['CarrierDelay'] + mdf['WeatherDelay'] + mdf['NASDelay'] 
+ mdf['SecurityDelay'] +mdf['LateAircraftDelay'] # most delayed flights
mdf.sort_values(by = 'sum_MDF', ascending= False) # sorted to see the mosted flights on top.

C:\Users\mhabi\AppData\Local\Temp\ipykernel_11124\3379050891.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mdf['sum_MDF'] = mdf['ArrDelay'] #  "sum_MDF" means (sum of the most delayed flights)

         FlightNum  ArrDelay  DepDelay  CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay  sum_MDF
163379        2398    1525.0    1275.0        1158.0           0.0     117.0            0.0              250.0   1525.0
1885481       1196    1395.0    1403.0           0.0        1297.0       0.0            0.0               98.0   1395.0
1222506        284    1325.0    1316.0           0.0           0.0       9.0            0.0             1316.0   1325.0
349850        2233    1312.0    1316.0        1312.0           0.0       0.0            0.0                0.0   1312.0
1221849        123    1263.0    1259.0        1263.0           0.0       0.0            0.0                0.0   1263.0
...            ...       ...       ...           ...           ...       ...            ...                ...      ...
1436528       1741     -49.0       6.0           0.0           0.0       0.0            0.0                0.0    -49.0
1709922         21     -55.0      21.0           0.0           0.0       0.0            0.0                0.0    -55.0
495959         693     -57.0       7.0           0.0           0.0       0.0            0.0                0.0    -57.0
497550         693     -62.0       7.0           0.0           0.0       0.0            0.0                0.0    -62.0
1469257        839     -70.0       8.0           0.0           0.0       0.0            0.0                0.0    -70.0

[200000 rows x 9 columns]

##### Contribute what you consider relevant.

In [49]:
# I thinks these are relevant.
data[['AirTime', 'Distance', 'average_speed']].corr()

                AirTime  Distance  average_speed
AirTime        1.000000  0.980269       0.980269
Distance       0.980269  1.000000       1.000000
average_speed  0.980269  1.000000       1.000000

## Exercise 3
Export the dataset clean and with the new columns to Excel.

In [125]:
data.to_excel('mydata.xlsx')